{%  extends "layout.html"  %}

{%  block body  %}

<h1>Ticket ID {{ ticket_record.id }}: Edit</h1>

{% csrf_token %}
<form class="form-floating">
  <input type="text" class="form-control-plaintext form-control-lg" id="floatingInputValue1" value="{{ ticket_record.created_at }}" readonly>
  <label for="floatingInputValue1">Creation Timestamp</label>
</form><br>
<form class="form-floating">
  <input type="text" class="form-control form-control-lg" id="floatingInputValue2" value="{{ ticket_record.ticket_number }}" >
  <label for="floatingInputValue2">Ticket Number</label>
</form><br>
<form class="form-floating">
  <input type="text" class="form-control form-control-lg" id="floatingInputValue3" value="{{ ticket_record.contact_name }}" >
  <label for="floatingInputValue3">Contact Name</label>
</form><br>
<form class="form-floating">
  <input type="text" class="form-control form-control-lg" id="floatingInputValue4" value="{{ ticket_record.contact_email }}" >
  <label for="floatingInputValue4">Contact Email</label>
</form><br>
<form class="form-floating">
  <input type="text" class="form-control form-control-lg" id="floatingInputValue5" value="{{ ticket_record.description }}" >
  <label for="floatingInputValue5">Description</label>
</form><br>
<form class="form-floating">
  <input type="text" class="form-control form-control-lg" id="floatingInputValue6" value="{{ ticket_record.notes }}" >
  <label for="floatingInputValue6">Notes</label>
</form><br>
<form class="form-floating">
  <input type="text" class="form-control-plaintext form-control-lg" id="floatingInputValue7" value="McPherson [{{ ticket_record.ticket_number }}]: {{ ticket_record.contact_name }}: {{ ticket_record.description }}" readonly>
  <label for="floatingInputValue7">Email Subject (Save and return for an updated subject)</label>
</form>
<br><br>
<button type="button" class="btn btn-outline-secondary" ><a href="{% url 'ticket' ticket_record.id %}">Cancel</a></button>
<button type="button" class="btn btn-outline-danger" ><a href="{% url 'delete' ticket_record.id %}">Delete</a></button>
<button type="button" class="btn btn-outline-success" ><a href="{% url 'home' %}">Submit</a></button>
{%  endblock  %}